body{
    background-color:blanchedalmond;
}
.class{
    display: inline-block;
}
.popup{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: teal;
    
}
.content{
    position: relative;
    left: 100px;
    top: 200px;
    background-color: aqua;
    width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
}
.coloring_visa{
    background-color: black;
    color: white;
    /* border-radius: %; */
    width: 200px;
    height: 50px;
}
.displaynone{
    display: none;
}
.thanks{
    position: relative;
    left: 100px;
   
    bottom: 200px;
    background-color: aqua;
    width: 400px;
    height: 200px;
    text-align: center;
    border-radius: 10%;
    
}
.newadjustment{
    margin-top: 110px;
}
#learn{
    background-size: cover;
}
iframe{
    display: block;
    width: 100%;
    height: 500px;
}
.card{
   
    margin: 20px;
}
   
/* .coloring{
    background-color: aqua;
    position: relative;
    
    
} */
.dark{
    background-color: black !important;
    color: white !important;

}
.dark .dropdown-item{
    color: white;
}
.dark a:hover {
    color: teal;

}
.color{
    background-color: teal !important;
}
.white{
    background-color: white ;
}
.radius{
 border-radius: 20px !important;
 width: 100px;
}
/* .dropdown-toggle{
    background-color: white;
    color: yellow; */
/* } */
.modeblack{
    color: white !important;
}
#mode{
    color: tomato;
}
.dropdown-item{
    color: black;
}